<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ASP_Resume</title>

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta name="description" content="BreezyCV - Resume / CV / vCard Template" />
    <meta name="keywords" content="vcard, resposnive, retina, resume, jquery, css3, bootstrap, Material CV, portfolio" />
    <meta name="author" content="lmpixels" />
    <link rel="shortcut icon" href="favicon.ico">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ASP_Resume.styles.css" asp-append-version="true" />

    <link rel="stylesheet" href="~/css/reset.css" type="text/css">
    <link rel="stylesheet" href="~/css/bootstrap-grid.min.css" type="text/css">
    <link rel="stylesheet" href="~/css/animations.css" type="text/css">
    <link rel="stylesheet" href="~/css/perfect-scrollbar.css" type="text/css">
    <link rel="stylesheet" href="~/css/owl.carousel.css" type="text/css">
    <link rel="stylesheet" href="~/css/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="~/css/main.css" type="text/css">

    <script src="~/js/modernizr.custom.js"></script>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">   
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">ASP_Resume</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between ">
                    <ul class="navbar-nav flex-grow-1 text-right">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Resume" asp-action="AllResumes">All resumes</a>
                        </li>
                        @if (User.Identity.IsAuthenticated)
                        {

                            
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Resume" asp-action="CreateResume">Create/Edit resume</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Resume" asp-action="Index">Watch resume</a>
                            </li>

                            

                            <li class="nav-item">
                                <button type="button" class="nav-link text-dark" onclick="LogoutUser()">Log out</button>
                            </li>
                            <span style="transform:translateY(5px); margin-left:8px;">@User.Identity.Name</span>
                        }
                        else
                        {
                           

                            <li class="nav-item">
                               
                                <button class="nav-link text-dark "onclick="openRegForm()">Registration</button>
                                <div class="form-popup" id="regForm" style="color:black;">
                                    <form style="display:inline-block" class="form-container">
                                            <h1>Registration</h1>
                                        
                                        <div style="display:inline-block">
                                        
                                        
                                        <label>FirstName<span style="color:red;">*</span></label>
                                        <input type="text" id="FirstNameForReg" class="form-control" placeholder="FirstName">
                                        
                                        <label>SecondName<span style="color:red;">*</span></label>
                                        <input type="text" id="SecondNameForReg" class="form-control" placeholder="SecondName">
                                       
                                        <label>Phone Number<span style="color:red;">*</span></label>
                                        <input type="text" id="TelephoneForReg" class="form-control" placeholder="Phone Number">
                                    
                                            <label>Age<span style="color:red;">*</span></label>
                                            <input type="number" id="AgeForReg" class="form-control" placeholder="Age">
                                         <label>Town<span style="color:red;">*</span></label>
                                        <input type="text" id="TownForReg" class="form-control" placeholder="Town">
                                    
                                        <label>Country<span style="color:red;">*</span></label>
                                        <input type="text" id="CountryForReg" class="form-control" placeholder="Country">
                                      
                                        </div>
                                        <div style="display:inline-block">
                                            <label>Email<span style="color:red;">*</span></label>
                                            <input type="text" id="EmailForReg" class="form-control" placeholder="Email">
                                        <label>Login<span style="color:red;">*</span></label>
                                        <input type="text" id="LoginForReg" class="form-control" placeholder="Login">
                                     
                                        <label>Password<span style="color:red;">*</span></label>
                                        <input type="password" id="PasswordForReg" class="form-control" placeholder="Password">
                                   
                                        <label>Repeat password<span style="color:red;">*</span></label>
                                        <input type="password" id="ConfirmPassForReg" class="form-control" placeholder="ConfirmPass">

                                        <button type="button" onclick="RegistrationUser()" class="btn">Reg</button>
                                        <button type="button" class="btn cancel" onclick="closeRegForm()">Close</button>
                                        </div>
                                    </form>
                                </div>
                            </li>
                            <li class="nav-item">
                                <button class="nav-link text-dark" onclick="openLoginForm()">Login</button>
                                <div class="form-popup" id="loginForm" style="color:black;">
                                    <form class="form-container">
                                        <h1>Login</h1>


                                        <label>Email<span style="color:red;">*</span></label>
                                        <input type="email" id="EmailForLogIn" class="form-control" placeholder="Email">
                                        <br />
                                        <label>Password<span style="color:red;">*</span></label>
                                        <input type="password" id="PasswordForLogIn" class="form-control" placeholder="Password">
                                        <br />


                                        <button type="button" onclick="LoginUser()" class="btn">Login</button>
                                        <button type="button" class="btn cancel" onclick="closeLoginForm()">Close</button>
                                    </form>
                                </div>
                            </li>

                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

   
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/authorization.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
